*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: blueviolet;
    font-family: 'Roboto', sans-serif;
}

.main-content{
    position: absolute;
    top: 17%;
    left: 35%;
    background: white;
    width: 400px;
    border-radius: 10px;
}
.main-content h1{
    text-align: center;
    padding: 0 0 20px 0;
    font-weight: 700;
}
.main-content form{
    padding: 0px 40px;
    box-sizing: border-box;
}
.main-content form .txt{
    position: relative;
    margin: 30px 0px;
    border-bottom: 2px solid #adadad;
}
.main-content form .txt input{
    width: 100%;
    padding: 0px 5px;
    font-size: 16px;
    border: none;
    height: 40px;
    background: none;
    outline: none;
}
.main-content form .txt label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.5s;
}
.main-content form .txt span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0px;
    width: 0;
    height: 2px;
    background: lightblue;
    transition: 0.5s;
}
.main-content form .txt input:focus ~ label,
.main-content form .txt input:valid ~ label{
    top: -5px;
    color: black;
}
.main-content form .txt input:focus ~ span::before,
.main-content form .txt input:valid ~ span::before{
    width: 100%;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: rgb(75, 75, 209);
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: lightskyblue;
    color: black;
    transition: 0.5s;
    outline: none;
}
.main-content .singup{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.main-content .singup a{
    color: skyblue;
    text-decoration: none;
}
.main-content .singup a:hover{
    text-decoration: underline;
}